@font-face {
    font-family: EinaBold; 
    src: url("/fonts/Eina03-Bold.ttf");}
@font-face {
    font-family: EinaRegular; 
    src: url("/fonts/Eina03-Regular.ttf");}
@font-face {
    font-family: EinaSemiBold; 
    src: url("/fonts/Eina03-SemiBold.ttf");}


html {
    background-image: url("/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div.alreadyin {
    width: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2em;
}


@media only screen and (max-width: 600px) {
    h1.logo {
        font-family: "EinaBold";
        font-size: 4em;
    
        margin-top: -2.6em;
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h3.text {
        font-family: "EinaSemiBold";
        font-size: 1.3rem;
        margin-bottom: 1em;
    }
    
    p.subtitle {
        font-family: "EinaRegular";
        font-size: 1.1em;
        text-align: justify;
    }
    
} 


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    h1.logo {
        font-family: "EinaBold";
        font-size: 5em;
    
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h3.text {
        font-family: "EinaSemiBold";
        font-size: 1.5rem;
        margin-bottom: 1em;
    }
    
    p.subtitle {
        font-family: "EinaRegular";
        padding-right: 3em;
        font-size: 1.3em;
        text-align: justify;
    }

    
    div.field {
        width: 25em;
    }


} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    h1.logo {
        font-family: "EinaBold";
        font-size: 5em;
    
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    h3.text {
        font-family: "EinaSemiBold";
        font-size: 1.5rem;
        margin-bottom: 1em;
    }
    
    p.subtitle {
        font-family: "EinaRegular";
        padding-right: 3em;
        font-size: 1.3em;
        text-align: justify;
    }
    
    div.field {
        width: 25em;
    }
    
} 
