@font-face {
    font-family: EinaBold;
    src: url("/fonts/Eina03-Bold.ttf");
}
@font-face {
    font-family: EinaRegular;
    src: url("/fonts/Eina03-Regular.ttf");
}
@font-face {
    font-family: EinaSemiBold;
    src: url("/fonts/Eina03-SemiBold.ttf");
}

h1.logo {
    font-family: "EinaBold";
    font-size: 3em;
    margin-left: .2em;

    background: -webkit-linear-gradient(#29F29B, #01A0FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input.search-bar {
    margin-left: 3em;
    width: 25em;
}

div.right-item {
    margin-right: 1em
}

#map {
    width: 40em;
    height: 40em;

    border-radius: 25px;
  }

div.container {
    margin: 2em;
}

div.buttons {
    margin-top: 1em;
}

h1.sectitle {
    font-family: "EinaSemiBold";
    font-size: 1.5em;
    margin-bottom: .3em
}

div.nearbtn_1 {
    width: 6em;
    height: 6em;
    margin-right: .3em;
    background-image: url("/img/greenbutton.png");
    background-size: contain;
}

div.nearbtn_2 {
    width: 6em;
    height: 6em;
    margin-top: 1em;
    margin-right: .3em;
    background-image: url("/img/bluebutton.png");
    background-size: contain;
}