@font-face {
    font-family: EinaBold;
    src: url("/fonts/Eina03-Bold.ttf");
}
@font-face {
    font-family: EinaRegular;
    src: url("/fonts/Eina03-Regular.ttf");
}
@font-face {
    font-family: EinaSemiBold;
    src: url("/fonts/Eina03-SemiBold.ttf");
}

nav.navbar {
    height: 4.5em;
}

div.right {
    margin-left:2em
}

p.modal-card-title {
    font-family: "EinaSemiBold";
}

div.listElem {
    border-left: 5px solid #29F29B;
    box-shadow:  1px 1px 2px #d9d9d9, 
    -1px -1px 2px #d9d9d9;
    border-radius: 15px;
    padding: 1em;
    transition: border-left .2s ;
    margin-bottom: 1em;
}

div.listElem:hover {
    border-left: 8px solid #29F29B;
}

div.blue {
    border-left: 5px solid #01A0FB;
}

div.blue:hover {
    border-left: 8px solid #01A0FB;
}

p.elemTitle {
    font-family: "Einasemibold";
    font-size: 1.1em;
}

p.elemSub {
    font-family: "EinaRegular";
    font-size: 1.05em;
}

p.elemSub2 {
    font-family: "EinaRegular";
    font-size: 1em;
    text-align: right;
}

@media only screen and (max-width: 991px) {

    div.container {
        margin-left: 1em;
        margin-right: 1em;
    }

    div.column {
        margin-bottom: -1em;
    }

    h1.logo {
        font-family: "EinaBold";
        font-size: 2em;
        margin-left: 0.2em;
    
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #map {
        margin-top: 1em;
        height: 25rem;
        width: 100%;
        border-radius: 25px;
        box-shadow:  3px 3px 5px #d9d9d9, -3px -3px 5px #d9d9d9;
    }
    
    h1.sectitle {
        font-family: "EinaSemibold";
        font-size: 1.1em;
        margin-left: -2em;
        margin-bottom: .8em;
    }

    h1.top {
        margin-top: 1em;
    }

    div.serbtn {
        padding: 1em;
        border-radius: 15px;
        box-shadow:  3px 3px 5px #d9d9d9, 
                 -3px -3px 5px #d9d9d9;
        width: 100%;
        border-left: 5px solid #29F29B;
        margin-bottom: 1em;
        margin-left: -1em;
        transition: border-left .2s;
    }
    
    div.serbtn:hover {
        border-left: 8px solid #29F29B;
    }
    
    div.blue {
        border-left: 5px solid #01A0FB;
    }
    
    div.blue:hover {
        border-left: 8px solid #01A0FB;
    }

    p.btntitle {
        font-family: "EinaBold";
        font-size: 1em;
    }
    
    p.btnsub {
        font-family: "EinaRegular";
        font-size: 1em;
    }
    
    p.btnsub2 {
        font-family: "EinaRegular";
        font-size: 1em;
        text-align: right;
    }

}
/* 
@media only screen and (min-width: 601px) {
    div.container {
        margin-top: 1em;
        margin-left: 4em;
    }

    div.column {
        margin-bottom: -1em;
    }

    h1.logo {
        font-family: "EinaBold";
        font-size: 3em;
        margin-left: 0.2em;
    
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #map {
        height: 35rem;
        width: 40em;
        box-shadow:  3px 3px 5px #d9d9d9, -3px -3px 5px #d9d9d9;
        border-radius: 25px;
    }
    
    h1.sectitle {
        font-family: "EinaSemibold";
        font-size: 1.5em;
        margin-bottom: .8em;
        margin-left: -2em;
    }

    div.serbtn {
        padding: 1em;
        border-radius: 15px;
        box-shadow: 3px 3px 5px #d9d9d9, -3px -3px 5px #d9d9d9;
        width: 100%;
        border-left: 5px solid #29F29B;
        margin-bottom: 1em;
        margin-left: -3em;
        transition: border-left .2s;
    }
    
    div.serbtn:hover {
        border-left: 8px solid #29F29B;
    }
    
    div.blue {
        border-left: 5px solid #01A0FB;
    }
    
    div.blue:hover {
        border-left: 8px solid #01A0FB;
    }

    p.btntitle {
        font-family: "EinaBold";
        font-size: 1.1em;
    }
    
    p.btnsub {
        font-family: "EinaRegular";
        font-size: 1.1em;
    }
    
    p.btnsub2 {
        font-family: "EinaRegular";
        font-size: 1.3em;
        text-align: right;
    }
} */

@media only screen and (min-width: 992px) {
    div.container {
        margin-top: 2em;
        margin-left: 2em;
    }

    h1.logo {
        font-family: "EinaBold";
        font-size: 3em;
        margin-left: 0.2em;
    
        background: -webkit-linear-gradient(#29F29B, #01A0FB);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #map {
        height: 47rem;
        width: 40em;
        box-shadow:  3px 3px 5px #d9d9d9, -3px -3px 5px #d9d9d9;
        border-radius: 25px;
    }
    
    h1.sectitle {
        font-family: "EinaSemibold";
        font-size: 1.5em;
        margin-bottom: .8em;
        margin-left: 0em;
    }

    div.serbtn {
        padding: 1em;
        border-radius: 15px;
        box-shadow:  3px 3px 5px #d9d9d9, 
                 -3px -3px 5px #d9d9d9;
        width: 21em;
        border-left: 5px solid #29F29B;
        margin-bottom: 1em;
        margin-left: 0em;
        transition: border-left .2s;
    }
    
    div.serbtn:hover {
        border-left: 8px solid #29F29B;
    }
    
    div.blue {
        border-left: 5px solid #01A0FB;
    }
    
    div.blue:hover {
        border-left: 8px solid #01A0FB;
    }

    p.btntitle {
        font-family: "EinaBold";
        font-size: 1.1em;
    }
    
    p.btnsub {
        font-family: "EinaRegular";
        font-size: 1.1em;
    }
    
    p.btnsub2 {
        font-family: "EinaRegular";
        font-size: 1.3em;
        text-align: right;
    }

    div.serModal {
        width: 26%;
    }
}