@font-face {
    font-family: EinaBold;
    src: url("/fonts/Eina03-Bold.ttf");
}
@font-face {
    font-family: EinaRegular;
    src: url("/fonts/Eina03-Regular.ttf");
}
@font-face {
    font-family: EinaSemiBold;
    src: url("/fonts/Eina03-SemiBold.ttf");
}

html {
    background-color: #FAFAFA;
}

h1.logo {
    font-family: "EinaBold";
    font-size: 3em;
    margin-left: 0.2em;

    background: -webkit-linear-gradient(#29F29B, #01A0FB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input.search-bar {
    margin-left: 3em;
    width: 25em;
}

div.right-item {
    margin-right: 1em;
}

#map {
    width: 40em;
    height: 40em;

    border-radius: 25px;
}

div.container {
    margin: 2em;
}

div.buttons {
    margin-top: 1em;
}

h1.sectitle {
    font-family: "EinaSemiBold";
    font-size: 1.5em;
    margin-bottom: 0.7em;
}

div.nearbtn_1 {
    width: 6em;
    height: 6em;
    margin-right: 0.3em;
    background-image: url("/img/greenbutton.png");
    background-size: contain;
    border-radius: 5px;

    box-shadow: -10px -10px 25px #e3e3e3, 10px 10px 25px #ffffff;
    transition: box-shadow 0.3s;
}

div.nearbtn_1:hover {
    box-shadow: -3px -3px 6px #e3e3e3, 3px 3px 6px #ffffff;
}

div.nearbtn_2 {
    width: 6em;
    height: 6em;
    margin-top: 1em;
    margin-right: 0.3em;
    background-image: url("/img/bluebutton.png");
    background-size: contain;
    border-radius: 5px;

    box-shadow: -10px -10px 25px #e3e3e3, 10px 10px 25px #ffffff;
    transition: box-shadow 0.3s;
}

div.nearbtn_2:hover {
    box-shadow: -3px -3px 6px #e3e3e3, 3px 3px 6px #ffffff;
}

p.inbtn {
    font-family: "EinaSemiBold";
    padding-top: 0.5em;
    margin-left: 0.7em;
}

div.nearcol {
    margin-left: 3em;
}

div.favcol {
    margin-left: 3em;
    margin-right: 3em;
}

div.rescol {
    margin-right: 3em;
}

div.serbtn_bike {
    background-image: url("/img/bike.png");
    background-repeat: no-repeat;
    border-radius: 40px;
    margin-bottom: 1.7em;
    height: 85px;
    width: 450px;

    box-shadow: -10px -10px 25px #e3e3e3, 10px 10px 25px #ffffff;
    transition: box-shadow 0.3s;
}

div.serbtn_bike:hover {
    box-shadow: -3px -3px 6px #e3e3e3, 3px 3px 6px #ffffff;
}

div.serbtn_coffee {
    background-image: url("/img/coffee.png");
    background-repeat: no-repeat;
    border-radius: 40px;
    transition: box-shadow 0.3s;
    margin-bottom: 1.7em;
    height: 85px;
    width: 450px;

    box-shadow: -10px -10px 25px #e3e3e3, 10px 10px 25px #ffffff;

}

div.serbtn_coffee:hover {
    box-shadow: -3px -3px 6px #e3e3e3, 3px 3px 6px #ffffff;
}

p.sertitle {
    font-family: "EinaSemibold";
    font-size: 1.2em;
    margin-left: 5em;
    padding-top: 1em;
}

p.sersubtitle {
    font-family: "EinaRegular";
    font-size: 1em;
    margin-left: 6em;
}

span.iconser {
    margin-left: 25em;
    margin-top: 0;
    display: flex;
    margin-top: -2.5em;

}
